
<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords"
        content="muraturi asortate de vanzare, Beciul Bunicii, muraturi asortate, muraturi, borcan de muraturi">
    <meta name="description" content="Beciul bunicii, magazin online de muraturi">
    <title> Beciul bunicii </title>
    <%- include('../fragments/head.ejs') %>
</head>

<body id="pag_sus">
    <%- include('../fragments/header.ejs') %>
    <main>        
        <%- include('../fragments/galerie.ejs') %>
    </main>
    
</body>
