@media print {

	iframe,
	nav ul ul,
	.cerc-rotativ,
	figure,
	figcaption,
	#link-top,
	.taburi-iframe,
	#sageata,
	#absolut {
		display: none !important;
	}

	html,
	body {
		width: 210mm;
		overflow: visible !important;
		background: none !important;
		margin: 0;
		padding: 0;
	}

	header,
	nav {
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		display: block !important;
		width: 100% !important;
	}

	h1 {
		margin-top: 40%;
		text-align: center;
		page-break-after: avoid;
	}

	nav {
		display: block;
		height: 20cm;
		position: relative;
	}

	header {
		page-break-after: always;
	}

	nav ul {
		display: block !important;
		list-style-type: disc !important;
		padding-left: 40px;
		margin: 50px auto;
		width: fit-content;
	}

	nav ul li {
		display: list-item !important;
		margin-bottom: 10px;
	}

	nav ul li a {
		text-decoration: none;
		color: black;
		border: none !important;
		box-shadow: none !important;
		background: none !important;
		padding: 0;
		font-size: 14pt;
	}

	#grid-pagina {
		display: block !important;
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
		box-shadow: none !important;
		border:none;
	}

	#grid-pagina div {
		position: static !important;
		margin-bottom: 20px;
		page-break-inside: avoid;
	}

	table {
		width: 100% !important;
		border-collapse: collapse;
	}

	footer {
		page-break-before: always;
		display: block !important;
		position: relative;
		border: none !important;
		box-shadow: none !important;
	}

	#watermark {
		display: flex !important;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 4cm;
		height: 1cm;
		border: 3px solid black;
		border-radius: 10px;
		opacity: 0.4;
		background: white;
		box-sizing: border-box;
		text-align: center;
	}

	#watermark p {
		display: none !important;
	}

	#watermark::after {
		content: "Cojocaru" "\00000a" "Ruxandra";
		white-space: pre;
		display: block;
		font-weight: bold;
		font-size: 10pt;
		line-height: 1.1;
	}


	#banner-pls {
		display: block !important;
		position: absolute;
		bottom: 1cm;
		width: 70%;
		text-align: center;
		font-weight: bold;
		font-size: 14pt;
	}

	#banner-pls::after {
		content: "Acesta este un proiect școlar!";
	}
}


@page :left {
	margin-left: 3cm;
	margin-right: 1cm;
}

@page :right {
	margin-left: 1cm;
	margin-right: 3cm;
}

@page {
	size: A4 portrait;
	margin-top: 2cm;
	margin-bottom: 2cm;
}