#video-vtt {
  display: block;
  margin: 20px auto;
  width: 90%;
  min-width: 280px;
  max-width: 750px;
  border: 3px solid #273635;
  border-radius: 8px;
}

/* ::cue e pt text */
#video-vtt::cue {
  background-color: #557226;
  color: #273635;
  font-family: "Segoe UI", sans-serif;
}