<footer>
        <p>Telefon:
            <a href="tel:+40123456789">+40 123 456 789</a>
        </p>
        <p>Adresă:
            <a href="https://maps.app.goo.gl/qnSNeuwPT6FJjRT46" target="_blank">
                Strada Florilor nr. 10<br>Sector 3<br> București
            </a>
        </p>
        <iframe src="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica+Bucuresti&output=embed"
            width="400" height="300" style="border:0;" loading="lazy">
        </iframe>
        <p>Email:
            <a href="mailto:contact@beciulbunicii.ro">
                contact@beciulbunicii.ro
            </a>
        </p>
        <p>WhatsApp:
            <a href="https://wa.me/40123456789" target="_blank">
                Chat pe WhatsApp
            </a>
        </p>
        <a href="#" id="link-top" title="Sari la începutul paginii">
            <div class="cerc-rotativ"></div>
            <span id="sageata">&#8593;</span>
        </a>
        <p><small>Copyright &copy; 2026 | Pagina creată la <time datetime="2026-03-01">1 martie 2026</time> </small></p>
        <div id="watermark"><p>Acesta este un proiect școlar!</p></div>
    </footer>